@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

header a {
    transition: color 0.3s ease;
}

.rounded-corners {
    border-radius: 20px;
    overflow: hidden;
}
