/* Style for Preview Button */
.preview-button {
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    font-size: 0.9rem;
}

.preview-button:hover {
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.1);
}
